<!DOCTYPE html>
<html ng-app>
	<head>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<link rel="stylesheet" type="text/css" href="todo.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	</head>
	<body>
		<div>
			<ul class="nav nav-pills">
				<li> <a href ng-click="tab = 1 ">Sign up</a> </li>
				<li> <a href ng-click="tab = 2 ">Users</a> </li>
				<li> <a href ng-click="tab = 3 ">Admin</a> </li>
			</ul>

		</div>
		<div ng-controller="TodoCtrl">
			<h2>Total todos: {{getTotalTodos()}} </h2>
			<ul class="unstyled">
				<li ng-repeat="todo in todos">
					<input type="checkbox" ng-model="todo.done">
					<span class="done-{{todo.done}}">{{todo.text}}</span>
				</li>
			</ul>
			<form class="form-horizontal"> 
				<input type="text" ng-model="formTodoText" ng-model-instant>
				<button class="btn" ng-click="addTodo()"><i class="icon-plus"></i>Add</button>
				<button class="btn" ng-click="clearCompleted()">Clear Completed</button>
			</form>
		</div>
	</body>
</html>